body{
margin: 0;
}

.main-container{
  background-color: rgb(26, 26, 39);
  border: 2px solid black;
  border-radius: 10px;
  width:500px;
  height: 500px;
  padding-left: 30px;
  padding-top: 60px;
  margin: 10px auto 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gena{
color: white;
margin-bottom: -20px;

}

#rand{
color: rgb(55, 204, 100);
margin-bottom: -10px;
}

#gen-button{
  background-color:rgb(55, 204, 100);
  color:aliceblue;
  padding: 7px 12px 7px 12px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

#gen-button:hover{
  background-color: rgb(44, 153, 77);
  transition: 0.2s;
  box-shadow: 0px 4px 12px rgb(36, 34, 34);
}

.sofox{
  display:flex;
  flex-direction: column;
  align-items:start;
}

#length-input{
border-radius: 8px;
height: 25px;
font-size: 17px;
font-weight: bold;
padding-left: 10px;
}

.main-rand-pass{
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
margin-left: -25px;
gap: 30px;

}

#rand-pass-1, #rand-pass-2{
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  color: rgb(55, 204, 100);
  background-color: rgb(40, 40, 59);
  text-align: center;
  padding-top: 13px;
  font-weight: 500;
  cursor: pointer;
}

#rand-pass-1:hover, #rand-pass-2:hover{
  transform: translateY(-5px);
transition: 0.3s;
opacity: 0.8;
}